@media only screen and (min-width: 32em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    nav button {
        display: none;
    }

    .hamburger {
        display: none;
    }



    header {
        background-color: blue;
        color: aqua;
        border: none;
    }



    header figure {
        width: 16%;
        padding: 4px;
    }

    header img {
        width: 100%;
        padding: 8px 0 0 0;

    }


    header div h1 {
        color: white;
        font-size: 200%;
        margin: 16px 0 2px 0;
    }

    header div h3 {
        display: flex;
        justify-content: flex-start;
        font-family: 'Bad Script', cursive;
        font-size: 140%;
        margin: 2px 0 0 0;
    }

    nav {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: .7em;
    }

    nav ul {
        width: 100%;

    }
    nav ul li a {
       
    }
    /* hamburger button does not need to be shown */
    .forecast {
        margin-bottom: 10px;
        color: green;
    }
    /* show the 10-day forecast with the medium view and up */
    article p.town-article img {
        width: 62.666%;
    }

    nav {
        background-color: #003FC6;
    }

    nav ul li {
    width: 16.67%;
        text-align:center;
    }

    .hide-nav {
        display: flex;
    }

    ul li ul .active {
        text-decoration: none;
        color: white;
    }

    nav ul li .hover a {
        color: #33FD57;
    }
    a:visited {
        color: #4881FC;
    }
    a:active {
        color: #FF9234;
    }

    .ten {

        max-width: 100%;
    }


    article p.town-article img {
        width: 62.666%;
    }

    /* responsive images */
    main figure {
        margin: 0;
        width: 96%;
    }

    .forecast {
       display: inherit;
    }

    .prepare {
        color: darkorange;
    }

    section {
        margin-bottom: 10px;
    }

    section img {
        width: 30%;

    }

    .moresnow img {
        max-width: 50%;
        height: auto;
        /* fill the page in the small/phone view */
        margin-right: 10px;
        margin-top: 10px;
    }


    /* fill the page in the small/phone view */
    margin: auto;


    #town-article {
        margin-bottom: 10px;
    }

    footer {
        clear: both;
    }

    footer-bar {
        max-width: 900px;
    }

    .gridcontainer {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 2px;
        background-color: #003FC6;
        max-width: 100%;
    }

    .weatherStory {
        text-align: center;
        padding: 10px;
        margin: 3px;
        display: flex;
        justify-content: space-around;
    }
    div {
        background: none;
    }
    .weatherCities {
        display: block;
    }

    .citiesDiv {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        flex-direction: row;

    }

    .citiesDiv2 {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        flex-direction: row-reverse;
    }

    .weatherCities img {
        width: 100%;
    }
}
