/*--------FORM STUFF---------------*/

/*---------FOOTER----------------*/






form#stormReport{
    margin: 1em 3%;
    
}


fieldset {
    max-width: 90%;
    background-color: #4881FC;
    color: white;
    border-radius: .8em;
    margin: 1.5em 0;
    border: lightgreen solid 2px;
}

legend {
    color: black;
    padding: 8px;
    font-style: oblique;
    font-size: 12px;
    background-color: greenyellow;
    border-radius: .5em;
    margin: 5%;
    
}

label {
    display: block;
    margin: .3em;
}
}
footer {
background-color: black;
}