/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 900px;

}

/* This wildcard applies to all elements ensuring a box layout model */

body {
    min-width: 300px;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 2%;
    text-align: left;
    justify-content: center;
}

button.hamburger {
    display: block;
    position: absolute;
    top: 4%;
    left: 80%;
    margin: 2%;
    background: none;
    color: aqua;
}

header,
nav,
main,
footer {

    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    font-family: 'Roboto', sans-serif;
    margin-top: -2% margin: .02%;
    background-color: blue;
    border: none;
    padding: 0;
}

.title {
    
    display: flex;
    flex-direction: row;
    background-color: blue;
    border: none;
    margin: 0;
    padding: 1%;
}

header h1 {
    justify-content: center;
    font-size: 1em;
    max-width: 62rem;
    margin-top: 5%;
    margin-bottom: auto;
    color: white;
}

header img {
    width: 20%;
    height: 20%;
    margin: 2%;
    margin-top: 2%;
    margin-left: 5%
}

header {
    display: flexl
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 1%;
    padding-bottom: 2%;
    background-color: blue;
    color: aqua;
    border: none;
    font-size: 1rem;
}

.subheading {
    display: flex;
    justify-content: center;
    font-family: 'Bad Script', cursive;
    margin-bottom: 0;
    margin-top: -12%;
    padding-top: 1%;
    padding-bottom: 0;
    background-color: blue;
    color: aqua;
    border: none;
    font-size: .63rem;

}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: cornflowerblue;
}



nav {
    background-color: #003FC6;
    font-family: Verdana, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    width: 8rem;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li .hover a {
    color: #33FD57;
}

nav ul li .visited a {
    color: #4881FC
}

nav ul li.active a {
    background-color: rgba(0.0.0.2);
    color: #FF9234;
}

.show-nav {
    display: block;
}

.hide-nav {
    display: none;
}

main {
    padding: 2%;
    margin: 0px;

}

main h2 {
    display: flex;
    justify-content: center;
    color: yellow;
    
}

main figure {
    margin: 0px;
    width: 100%;
    align-content: center;
}

main figure.myphoto img {
    width: 100%;
    margin: 0 auto;
}

#output {
    display: flex;
    justify-content: flex-start;
}

section.forecast {
   display: flex;
}

table.weathersummary {
    justify-content: center;
    min-width: 90%;
   font-size: 1.2em
}

table fieldset {
    border: 0;
    
}


table main {
    border-collapse: collapse;
    
}

table {
    border-collapse: collapse;
    
}

table caption {
    text-align: left;
    color: orange;
    font-size: 1em;
    padding-bottom: 2%
   
}

table thead {
    text-align: center;
    justify-content: center;
    color:orange;
    background-color: none;
}

th,
td {

    
    padding: 2%;
    font-size: 0.5rem;
    letter-spacing: 2px;
    text-align: left;
    border: none;
    max-width: 1450px;
    background-color: none;
    color: white;

}

table h2 {
    text-align: center;
    max-height: 5px;
    align-content: center;
    }

tr:nth-child(odd) td {
    background-color: none;
    letter-spacing: 
}

tr:nth-child(even) td {
    background-color: none;
}


. bf {
    padding: 10px;
}

}

.form {
    background-color: #bbb;
    padding: 1rem;
    border: 1px solid #444;
}

div {
    display: flex;
   align-content: center;
}

#aNum {
    border: 1px solid #bbeedd;
    background-color: #aaffcc;
    text-align: center;
}


section img {
   
  display: flex;
    max-width: 50%;
    padding: 5px;
}

section.forecast {
    display: flex;
    min-width: 100%;
    font-size: 1.2em;
    margin: 0 auto;
    letter-spacing; 1px;
    
    
}

article {
    min-width: 96%;
}

.moresnow img {
    display: flex;
    align-content: center;
    max-width: 92%;
    height: auto;
    /* fill the page in the small/phone view */
    
    margin-top: 10px;
    margin-bottom: 10px;
}

.prepare {
    text-align: center;
    margin: 2%;
    color: lime;
    padding: 2%;
    font-size: .9em;
}

.snow {
    display: flex;
    align-content: center;
    font-size: .8rem;
    color: white;
    padding: 5%;
}

footer {
    font-size: .45rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

footer p {
    color: white;

}

.gallery {
    display: flex;
    color: yellow;
}
.gridcontainer {
    display: grid;
    grid-template-columns: auto;
    background-color: black;
    padding: 20px;
    max-width: 100%;
}

.griditem {
    
    background-color: azure;
    
    text-align: center;
    padding: 10px;
   
}
