@media only screen and (min-width: 64em) {

    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    article p.town-article img {
        width: 29.333%;
    }

    
        header h1 {
    font-size: 3em;
    
    max-width: 62rem;
    margin-top: 4%;
    margin-left: 1%;
    margin-bottom: 0;
    color: white;
}



header .subheading {
    font-family: 'Bad Script', cursive;
    margin-left: 14%;
    margin-top: 0;
    padding-top: 1%;
    padding-bottom: 2%;
    background-color: blue;
    color: aqua;
    border: none;
    font-size: 2.2rem;
    }
    
    
    
    
    /* navigation bar*/
    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        flex-direction: row;
        align-items: center;


    }
    
    .hide-nav {
        display: flex;
    }

    .myphoto {
        max-width: 900px;
        margin: 0;
    }


    nav ul li a {
        padding: .6rem
    }

    section {
        display: block;
        
    }

    main figure {
        margin: 0;
        width: 100%;
    }

    section img {
        width: 30%;
    }

       
    .gridcontainer {
         box-shadow: 5px 10px #888888;
    }
    article p.town-article img {
        /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
        width: 100%;
        height: auto;
        /* fill the page in the small/phone view */
        margin: 0;
    }    
 .gridcontainer {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        padding: 2px;
        background-color: black;
        max-width: 100%;
    }

    .griditem {
        background-color: azure;
        border: 1px solid red;
        text-align: center;
    }
}
