/* This main css file contains the default rules and is geared toward the small/phone view */

@media only screen and (max-width: 32em) * {
    box-sizing: border-box;
}


body {

    margin: 0;
    font-size: 16px;
    padding: 0;
    text-align: left;
    justify-content: center;
}

button {
    display: block;
    position: fixed;
    top: 1%;
    right: 2%;
    margin: 2%;
    background: none;
    color: black;
}



    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}



.header {
    background: white;
    color: black;
    width: 100%;
}

.content {
    width: 100%;
}

.sticky {
    position: fixed;
    min-height: 70px;
    margin-top: -2%;
    width: 100%;
    background-color: white;

}

.sticky + .content {
    padding-top: 102px;
}

header div {

    display: flex;
    flex-direction: column;
    background-color: white;
    color: white;
    border: solid 5px ;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin: auto;
    
}
header img {
    position: fixed;
    top: 30%;
    left: 52%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    font-size: 1.6em;
    max-width: 15%;
    padding: 10px;

}

header {
    position: relative;
    text-align: center;
    color: white;
    border: none;
    margin: 15px;
    padding: 0;
    height: 30%;
}



nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: black;
}

.container {
    
    text-align: center;
    color: white;
    border: none;
    margin: 0 auto;
    padding: 0;
}

.centered {
    display: none;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    font-family: 'Eczar', serif;

}

.whoWeare {
    display: none;
    width: 150px;
    position: absolute;
    top: 38.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: .3rem 2%;
    background-color: transparent;
    border: none;
    font-size: .5em;
    color: white;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: 'Martel Sans', sans-serif;

}

.exploreTours {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 5px;
    border: 2px solid #ccc;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

nav {}

nav ul {
    font-family: 'Eczar', serif;
    background-color: #401A1A;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li {
    width: 8rem;
}

a {
    color: #A68E7B;
    font-size: 16px;
}

nav ul li a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}


nav ul li a .visited {
    color: #856376;
}

nav ul li.active a {
    background-color: #1E1E1E;
    color: white;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.show-nav {
    display: block;
}

.hide-nav {
    display: none;
}

main {

    margin: 0px;
}

main h2 {
    font-family: 'Eczar', serif;
    margin-top: 10px;
    margin-bottom: 15px;
    color: black;
    font-size: 1.2em;
    line-height: 1.6;

}

.welcomeStatement {
    line-height: 2.5;
    font-size: .8em;
    background-color: white;
    font-family: 'Martel Sans', sans-serif;
    max-width: 90%;
    padding: 0;
}


}

#coverimage {
    width: 100%;
    margin: 0 auto;

}



section,
div {
    margin: 2%;
}



.footer-bar1 {
    font-size: .5em;
    margin: 0 auto;

}

footer p {
    font-size: .5rem;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 0;
}


footer {
    text-align: center;
    font-size: 2em;
}

footer p {
    text-align: center;
    font-size: .5em;
}

.footer-bar2 {

    margin: 0 auto;
}
