/* This main css file contains the default rules and is geared toward the small/phone view */

 /* Declare the maximum width and other main element rules to limit the stretch on wide views */

@media only screen and (max-width: 32em) * {
    box-sizing: border-box;
}


body {

    margin: 0 auto;
    font-size: 16px;
    padding: 0;
    text-align: left;
    justify-content: center;
}

.header {
    margin: 0 auto;
    background: white;
    color: black;
    width: 100%;
    height: 20%;
}

button {
    display: block;
    position: fixed;
    top: 1%;
    right: 2%;
    margin: 2%;
    background: none;
    color: black;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin: auto; 
}

.content {
    width: 100%;
    margin: 0 auto;
}

.sticky {
    position: fixed;
    min-height: 70px;
    margin-top: -2%;
    width: 100%;
    background-color: white;

}

.sticky + .content {
    padding-top: 102px;
}


nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #1E1E1E;
}

nav {
    
}

nav ul li.active a {
    background-color: white;
    color: #1E1E1E;
}

.navigation {
    list-style: block;
    padding-left: 0;
}

.navigation li {
    display: none;
}

/* When the responsive class is added to the unordered list on hamburger button click 
placed in a media query in order to accomodate the toggle when in wider view*/

.navigation.responsive {
    position: relative;
}

.navigation.responsive li {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #0026BA;
    display: block;
    width: 100%;
    margin: 2px 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.navigation.responsive li a {
    padding: .5rem;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #A68E7B;
}

.navigation.responsive li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}



/*
.show-nav {
    display: block;
}
*/

/*
.hide-nav {
    display: none;
}
*/



.container {
    
    text-align: center;
    color: white;
    border: none;
    margin: 0 auto;
    padding: 0;
}

.centered {
    display: none;
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
    margin: .2rem 2%;
    background-color: #e1e1e1;
    border: none;
    font-size: 1.5em;
    font-family: 'Eczar', serif;
    color: white;

}

.whoWeare {
    display: none;
    width: 150px;
    position: absolute;
    top: 38.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: .3rem 2%;
    background-color: transparent;
    border: none;
    font-size: .5em;
    color: white;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: 'Martel Sans', sans-serif;

}

/*
.exploreTours {
    position: relative;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 5px;
    border: 2px solid #ccc;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}
*/

main {
}

main h2 {
    font-family: 'Eczar', serif;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    color: black;
    font-size: 1.2em;
    line-height: 1.6;

}

.welcomeStatement {
    line-height: 2.5;
    font-size: .8em;
    background-color: white;
    font-family: 'Martel Sans', sans-serif;
    max-width: 90%;
    padding: 0;
}


}

#coverimage {
    width: 100%;
    margin: 0 auto;

}



section,
div {
    margin: 2%;
}



.footer-bar1 {
    font-size: .5em;
    margin: 0 auto;

}

footer p {
    font-size: .5rem;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 0;
}


footer {
    text-align: center;
    font-size: 2em;
}

footer p {
    text-align: center;
    font-size: .5em;
}

.footer-bar2 {

    margin: 0 auto;
}
