@media only screen and (min-width: 32em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    nav button {
        display: none;
    }

    .hamburger {
        display: none;
    }





    header img {
        width: 100%;
        padding: 8px 0 0 0;

    }


  

    nav {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: .7em;
    }

    nav ul {
        width: 100%;

    }
    nav ul li a {
       
    }
  

    nav ul li {
    width: 16.67%;
        text-align:center;
    }

    .hide-nav {
        display: flex;
    }

    ul li ul .active {
        text-decoration: none;
        color: white;
    }

 


    /* responsive images */
  

    section {
        margin-bottom: 10px;
    }

    section img {
        width: 30%;

    }


    /* fill the page in the small/phone view */
    margin: auto;


    footer {
        clear: both;
    }

    footer-bar {
        max-width: 900px;
    }


    div {
        background: none;
    }
   
#content {
    background-color: #4881FC;

/*--------FORM STUFF---------------*/

/*---------FOOTER----------------*/



}
footer {
background-color: black;
}


   
    

