@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    nav button {
        display: none;

    }

    nav {
        display: flex;
        float: left;
        justify-content: center;
        width: 96%;
    }

    nav ul {
       
    }
    nav ul li a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        padding: .6rem;
    
        



    }
    /* hamburger button does not need to be shown */
    section.forecast {
        display: inline;
        float: left;
        margin-bottom: 10px;
        padding
    }
    /* show the 10-day forecast with the medium view and up */
    article p.town-article img {
        width: 62.666%;
        float: right;
    }

    nav {
        background-color: #003FC6;    
    }

    nav ul li {
        float: left;
        
    }
    
    .hide-nav {
        display: block;
    }

    ul li ul .active {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: #33FD57;
    }
    a:visited {
        color: #4881FC;
    }
    a:active {
        color: #FF9234;
    }

    section {}

    /* responsive images */
    header img {
        width: 14%;
    }

    main figure {
        margin: 0;
        width: 96%;
    }

    .prepare {
        color: darkorange;
    }

    section {
        float: left;
        margin-bottom: 10px;
    }

    section img {
        width: 30%;

    }

    article p.town-article img {
        /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
        width: 100%;
        height: auto;
        float: left;


        /* fill the page in the small/phone view */
        margin: auto;
    }
}

#town-article {
    float: right;
    margin-bottom: 10px;
}

footer {
    clear: both;
}

footer-bar {
    max-width: 900px;
}

}
