@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    article p.town-article img {
        width: 29.333%;
    }

    /* navigation bar*/
    nav ul {
        display: flex;
        list-style-type: none;
        flex-direction: row;
        justify-content: space-around;
    }

    section {
        display: block;
    }

    main figure {
        margin: 0 0 .2rem 2%;
        width: 96%;
    }

    section img {
        width: ?;
    }

    article p.town-article img {
        /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
        width: ???;
        /* fill the page in the small/phone view */
        margin: ???;
    }

}
