
* { margin: 0; box-sizing: border-box; 
    } 

body { 
    font-size: 20px; 
    line-height: 50px;
    font-family: Ubuntu, sans-serif;
    color: black;
    max-width: 900px;
    margin: auto;
    background-color: floralwhite;

}

h1 {
    font-size: 5rem;
    font-family: Tangerine, cursive;
    color: #fff;
    line-height: 5rem;
    
    
}

h2 {
    font-size: 2rem;
    line-height: 4rem;
    text-align: left;
    border-bottom: 1px solid #bbb;
    font-family: Helvetica, sans-serif;
    color: firebrick;
    margin-right: 1em;
}

header, main, footer {
    margin: 8rem auto;
    padding: 2rem;
    max-width: 1200px;
}

header, footer, footer a {
    text-align: center;
    background-color: tan;
    color: steelblue;
}

header img {
    width: 300px;
    height: auto;
    float: right;
    padding: 1em;
    max-width: 900px;
    overflow: auto;
    
    
}

footer {
    font-size: 1rem;
    color: white;
    max-width: 900px;
    
}